*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-grey: #717171;
	--color-light-grey: #C1C1C1;
	--color-highlight: #ADFF2F;
}

/* .debug{
    border: solid 1px black;
} */
.d-flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.wrapper{
    width: 100%;
    height: 100vh;
}

.justify-between{
    justify-content: space-between;
}
li{
  list-style-type: none;
  padding: 5px;
}

h4{
    color: var(--color-white);
    font-size: 0.8em;
}

p{
    color: var(--color-light-grey);
    font-size: 0.6em;
}

img{
    width: 100%;
    object-fit: contain;
}

.circle{
    border-radius: 50%;
}
/* main */
main{
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: auto;
    background-color: var(--color-dark-color);
    color: var(--color-white);
    
}
/* sidebar */
.side-bar{
    background-color: var(--color-black);
    width: 250px;
    height: 100%;
    color: var(--color-white);
}

/* main-content */
.main-content{
    /* background-color: red; */
    width: calc(100% - 250px);
    height: calc(100% - 100px);
    margin-top: 50px;
    padding: 20px;
}
#fixed-button{
    display: flex;
    justify-content: flex-end;    
    background-color: rgba(8, 11, 18, 0.5) ;  
    position: fixed;  
    z-index: 1000;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    height: 50px;
    margin-right: 20px;
}
#upgrade{
    border: solid 2px white;
    display: inline-block;
    border-radius: 30px;   
    padding: 10px 30px;
    color:var(--color-white);
    text-decoration: none;
    margin: 4px;
}

.choose{
    margin: 5px 200px;
}

.card{
    width: calc(100% / 6) ;
    height: 200px;
    background-color:var(--color-dark-color); 
    margin-top: 20px; 
    
}

.f-column{
    flex-direction: column;
}

.card-img{
    height: 150px;
    width: 150px;  

}


.card-section{
    margin: 20px;
    padding: 20px;
}
.text-card{
    text-align: center;
}

/* playbar */
.play-bar{
    width: 100%;
    height: 50px;
    background-color: blue;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
}


